@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@* Tablou pentru venituri totale, cheltuieli, balanta si tranzactii totale*@

<div class="row mb-4">

    @* tablu pt balanta*@
    <div class="col-md-3">
        <div class="d-flex flex-row tablou sidepanel balanta">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-cash-stack"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balanta</span>
                <h1 class="display-6 fw-bold">@ViewBag.Balanta</h1>
            </div>
        </div>
    </div>

    @* tablu pt venit*@
    <div class="col-md-3">
        <div class="d-flex flex-row tablou sidepanel venit">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-cash-stack"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Venituri totale</span>  @* lead clasa bootstrap pentru font la text*@
                <h1 class="display-6 fw-bold">@ViewBag.VenitTotal</h1>
            </div>
        </div>
    </div>

    @* tablu pt cheltuieli*@
    <div class="col-md-3">
        <div class="d-flex flex-row tablou sidepanel cheltuiala">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-cash-stack"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Cheltuieli totale</span>
                <h1 class="display-6 fw-bold">@ViewBag.CheltuieliTotale</h1>
            </div>
        </div>
    </div>
    
    @* tablu pt nr de tranzactii*@
    <div class="col-md-3">
        <div class="d-flex flex-row tablou sidepanel nrtranzactii">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-cash-stack"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Tranzactii totale</span>
                <h1 class="display-6 fw-bold">@ViewBag.NumarTranzactii</h1>
            </div>
        </div>
    </div>
</div>


@* Donut chart si tranzactii recente*@

@*Donut chart*@
<div class="row mb-4">
    <div class="col-md-6 mb-4">  <!-- Use col-md-6 to create a 2-column layout on medium-sized screens -->
        <div class="tablou grafic">
            <div class="title p-4">
                <h5 class="fw-bold"> Cheltuieli in functie de categorie</h5>
            </div>

            <ejs-accumulationchart id="donutchart" background="#ccc8c0" enableSmartLabels>
                <e-accumulation-series-collection>
                    @* palettes=@(new string[]{"red", "blue"}) in acumulation series pt culori la donut chart*@
                    <e-accumulation-series dataSource="@ViewBag.DonutChartData" xName="CategorieCuEmoji" yName="total" innerRadius="50%" legendShape="Diamond">
                        <e-accumulationseries-datalabel name="formatedTotal" visible="true">

                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false"> @* toggleVisibility pt a dezactiva fct de a scoate elemente din legenda*@
                    <e-legendsettings-textstyle size="1rem">

                    </e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable>

                </e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
                    @*Tranzactii recente*@    

    <div class="col-md-6 mb-8">
        <div class="tablou grafic">
            <div class="title p-4">
                <h5 class="fw-bold"> Ultimele tranzactii </h5>
            </div>

            <div class="px-4 pb-4">
                <ejs-grid id="tranzactiirecente"
                          dataSource="@ViewBag.TranzactiiRecente" gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Categorie" field="CategorieCuEmoji"></e-grid-column>
                        <e-grid-column headerText="Data" field="Date" type="date" format="dd-MMM-yy"></e-grid-column>
                        <e-grid-column headerText="Total" field="SumaCorecta" textAlign="Center"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
        </div>
    </div>
</div>
  
    

@*Spline chart*@

<div class="row">
        <div class="col mb-8">
            <div class="tablou grafic">
                <div class="title p-4">
                    <h5 class="fw-bold"> Venituri & Cheltuieli </h5>
                </div>

                <ejs-chart id="spline-chart" background="#ccc8c0"
                           palettes=@(new string[]{"red", "blue"})>
                    @*Axa x*@
                    <e-chart-primaryxaxis valueType="Category">
                        <e-majorgridlines width="0"></e-majorgridlines>
                        <e-majorticklines width="0"></e-majorticklines>
                    </e-chart-primaryxaxis>
                    @*Axa y*@
                    <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" dashArray="3,5" color="#32414d"></e-majorgridlines>
                        <e-majorticklines width="0"></e-majorticklines>
                    </e-chart-primaryyaxis>

                    <e-chart-chartarea>
                        <e-chartarea-border width="0"></e-chartarea-border>
                    </e-chart-chartarea>
                    <e-series-collection>
                        @*Serie pentru venituri*@
                        <e-series dataSource="@ViewBag.SplineChartData" xName="zi" yName="venit" name="Venit" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="4">

                        </e-series>
                        @*Serie pentru cheltuieli*@
                        <e-series dataSource="@ViewBag.SplineChartData" xName="zi" yName="cheltuiala" name="Cheltuiala" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="4">

                        </e-series>
                    </e-series-collection>

                    <e-chart-legendsettings position="Top" toggleVisibility="false" alignment="Far">
                        @* toggleVisibility pt a dezactiva fct de a scoate elemente din legenda*@
                        <e-legendsettings-textstyle size="1rem">

                        </e-legendsettings-textstyle>
                    </e-chart-legendsettings>

                    <e-chart-tooltipsettings enable>

                    </e-chart-tooltipsettings>
                </ejs-chart>
            </div>
        </div>
</div>



