@model IEnumerable<CashControl.Models.Category>

@{
    //ViewData["Title"] = "Index";
    ViewData["TitluPagina"] = "Categorii";
    ViewData["CreareText"] = "+ Categorie noua";
    ViewData["CreareURL"] = "/Categories/Create";
}

@*<h1>Index</h1>
*@
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<ejs-breadcrumb id="breadcrumb" style="position:relative; left:250px; top:2px;">

</ejs-breadcrumb>

<div class="row">

    <div class=" = col-md-7 child box">
        <ejs-grid id="categories" gridLines="None" dataSource="@Model" allowSorting="true" allowPaging="true" >
            <e-grid-pagesettings pageSize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Categorie" field="DeunumireCuEmoji"></e-grid-column>
                <e-grid-column headerText="Tip" template="#ColoanaTipTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actiuni" template="#ActiuniCRUDTemplate" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="ColoanaTipTemplate" type="text/x-template">
    ${if(Type=="Venit")}
    <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>


<script id="ActiuniCRUDTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start d-flex justify-content-center">
        @*Pentru butonul de edit*@
        <a class="btn btn-sm" href="/Categories/Edit/${CategoryID}">
            <i class="bi bi-pencil-square"></i> 
        </a>
        @*Pentru butonul de delete*@
        <form action="/Categories/Delete/${CategoryID}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm" onclick="return confirm(&quot;Sigur doresti sa stergi aceasta categorie?&quot;)">
                <i class="bi bi-trash3-fill"></i>
            </button>           
        </form>
    </div>
</script>

@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emoji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emoji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@




